body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #554e9f;
    padding: 20px;
}

header h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content li {
    margin-bottom: 10px;
}

.content li a {
    color: #333;
    text-decoration: none;
}

.content li a:hover {
    color: #555;
}
header a {
    background-color: rgb(192, 192, 209);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover {
    color: rgb(17, 16, 16);
    background-color: transparent;
}
.back-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.back-button:hover {
    background-color: #0056b3;
}

.back-button:active {
    background-color: #003366;
}
/* Basic styling */
form {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

label {
    flex: 1 0 auto;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"],
select {
    flex: 2 1 auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    flex: 1 0 auto;
    padding: 0.5rem 1rem;
    background-color: #4CAF50; /* Green button color */
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer; /* Indicate clickable element */
}

/* Styling for dropdown (optional) */
select {
    appearance: none; /* Remove default dropdown styling */
    background-repeat: no-repeat;
    background-position: right 0.5rem center; /* Position the arrow */
    padding-right: 2rem; /* Add space for the arrow */
}
