body {
    font-family: Arial, sans-serif;
}



form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;
}



input {
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #554e9f;
    padding: 20px;
}

header h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.container {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content li {
    margin-bottom: 10px;
}




header a {
    background-color: rgb(192, 192, 209);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover {
    color: rgb(17, 16, 16);
    background-color: transparent;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    border: 1px solid #ffffff;
}

.item {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}