body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #554e9f;
    padding: 20px;
}

header h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}a

 nav ul li a {
     color: rgb(0, 0, 0);
     text-decoration: none;
 }

.container {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content li {
    margin-bottom: 10px;
}

.content li a {
    color: #333;
    text-decoration: none;
}

.content li a:hover {
    color: #555;
}
header a {
    background-color: rgb(192, 192, 209);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

header a:hover {
    color: rgb(17, 16, 16);
    background-color: transparent;
}
form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="hidden"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

button[href] {
    background-color: #369bf4;
}

button[href]:hover {
    background-color: #164377;
}

button,
button[href] {
    width: 100%;
}
