.button-container {
    display: flex;
    justify-content: center;
}

.team-button {
    background-color: rgb(192, 192, 209);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.team-button:last-child {
    margin-right: 0;
}

.team-button:hover {
    background-color: #5e4eb8;
}