<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/create-skill.css">
  <title>Create Skill</title>
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h2>Create Skill</h2>
<form action="/skills/create" method="post" th:object="${skill}">
  <label for="skillName">Name:</label>
  <input type="text" id="skillName" name="skillName" th:field="*{skillName}">

  <label for="skillGroup">Skill Group:</label>
  <select id="skillGroup" name="skillGroup">
    <option value="">-- Select Skill Group --</option>
    <option th:each="group : ${skillGroups}" th:value="${group.skillGroupId}" th:text="${group.skillGroupName}"></option>
  </select>

  <button type="submit">Create</button>
</form>
<button class="back-button" onclick="location.href='/skills'">Back to Skills</button>
</body>
</html>
