<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Member Skill</title>
  <link rel="stylesheet" type="text/css" href="/create-member-skill.css">
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h1>Create Member Skill</h1>
<form action="/member-skills/create" method="post">
  <label for="user">User:</label>
  <select id="user" name="user">
    <option th:each="user : ${users}" th:value="${user.username}" th:text="${user.username}"></option>
  </select><br>
  <label for="skill">Skill:</label>
  <select id="skill" name="skill">
    <option th:each="skill : ${skills}" th:value="${skill.skillId}" th:text="${skill.skillName}"></option>
  </select><br>
  <div>
  <label for="proficiencyLevel">Proficiency Level:</label>
  <input type="number" id="proficiencyLevel" name="proficiencyLevel" min="1" max="5">
  </div>
  <button type="submit">Create</button>
  <button href="/member-skills">Back To Member Skill Page</button>
</form>
</body>
</html>
