<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/edit-skill-group.css">
  <title>Edit Skill Group</title>
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h2>Edit Skill Group</h2>
<div class="container">
<form action="/skill-groups/update" method="post" th:object="${skillGroup}">
  <input type="hidden" th:field="*{skillGroupId}">
  <label for="skillGroupName">Name:</label>
  <input type="text" id="skillGroupName" name="skillGroupName" th:field="*{skillGroupName}">
  <button type="submit">Update</button>
  <a href="/skill-groups" >Back to Skill Groups</a>
</form>
</div>
</body>
</html>
