<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Team Member</title>
  <link rel="stylesheet" type="text/css" href="/edit-teammember.css">
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h2>Update Teammember</h2>
<form th:action="@{/teammembers/edit}" th:object="${teammember}" method="post">
  <input type="hidden" th:field="*{memberId}"/>
  <div>
    <label for="team">Team:</label>
    <select id="team" th:field="*{team.teamId}">
      <option th:each="t : ${teams}" th:value="${t.teamId}" th:text="${t.teamName}"></option>
    </select>
  </div>
  <div>
    <label for="username">Username:</label>
    <select id="username" th:field="*{user.username}">
      <option th:each="u : ${users}" th:value="${u.username}" th:text="${u.username}"></option>
    </select>
  </div>
<!--  <div>-->
<!--    <label for="username">Username:</label>-->
<!--    <input type="text" id="username" th:value="*{user.username}" readonly="readonly"/>-->
<!--  </div>-->

  <button type="submit">Update</button>
</form>
<button class="back-button" onclick="location.href='/teammembers'">Back to Team Member Management</button>
</body>
</html>
