<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Team</title>
  <link rel="stylesheet" type="text/css" href="/edit-team.css">
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h2>Edit Team</h2>
<form id="edit-team-form" action="/teams/update" method="post">
  <input type="hidden" name="id" th:value="${team.teamId}">

  <label for="teamName">Team Name:</label>
  <input type="text" id="teamName" name="teamName" th:value="${team.teamName}" required>

  <label for="ownerUsername">Owner:</label>
  <select id="ownerUsername" name="ownerUsername">
    <option value="">-- No owner --</option>
    <option th:each="u : ${users}"
            th:value="${u.username}"
            th:text="${u.username}"
            th:selected="${team.owner != null} ? ${u.username} == ${team.owner.username} : false">
    </option>
  </select>

  <button type="submit">Save</button>
</form>
<a href="/teams" >Back to List Teams </a>


</body>
</html>
