<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Ma trận Kỹ năng Nhóm</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>
<header>
    <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
    <nav>
        <ul>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <li><a href="/admin">Dashboard</a></li>
            <li><a href="/teams">Quản lý Nhóm</a></li>
            <li><a href="/members">Quản lý Thành viên</a></li>
            <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
            <li><a href="/skills">Quản lý Kỹ năng</a></li>
            <li><a href="/logout">Đăng xuất</a></li>
        </div>
        </ul>
    </nav>
</header>
<div class="container">
    <div class="content">
            <li><a href="/userskill">tự xem skill của mình</a></li>
            <li><a href="/userteam">xem thành viên trong team</a></li>
            <li><a href="/logout">Đăng xuất</a></li>
    </div>
</div>
</body>
</html>
