<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Ma trận Kỹ năng Nhóm</title>
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<header>
    <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
    <nav>
        <ul>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <li><a href="/">Dashboard</a></li>
            <li><a href="/teams">Quản lý Nhóm</a></li>
            <li><a href="/members">Quản lý người dùng</a></li>
            <li><a href="/teammembers">Quản lý thành viên nhóm</a></li>
            <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
            <li><a href="/skills">Quản lý Kỹ năng</a></li>
            <li><a href="/member-skills">Quản lý Kỹ năng nhân viên </a></li>
            <li><a href="/logout">Đăng xuất</a></li>
        </div>
        </ul>
    </nav>
</header>
<header>
    <nav>
        <ul>
            <div th:if="${#authorization.expression('hasRole(''ROLE_MEMBERS'')')}">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/profile">Hồ sơ cá nhân</a></li>
                <li><a href="/my-skill">Kỹ năng</a></li>
                <li><a href="/logout">Đăng xuất</a></li>
            </div>
        </ul>
    </nav>
</header>
<div class="chart-container">
    <div class="chart-item">
        <h1>User Chart </h1>
        <p>Total Users: [[${userCount}]]</p>
        <canvas id="userChart1" width="400" height="200"></canvas>
    </div>
    <div class="chart-item">
        <h1>Team Chart </h1>
        <p>Total Teams: [[${teamCount}]]</p>
        <canvas id="teamChart" width="400" height="200"></canvas>
    </div>
    <div class="chart-item">
        <h1>Teammember Chart </h1>
        <p>Total Teams: [[${teamCount}]]</p>
        <canvas id="teamMemberChart" width="400" height="200"></canvas>
    </div>
</div>


<script>
    // Lấy số lượng người dùng từ model
    var userCount = [[${userCount}]] ;
    var colors = [];
    colors.push(getRandomColor());
    // Tạo biểu đồ
    var ctx = document.getElementById('userChart1').getContext('2d');
    var userChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Total Users"],
            datasets: [{
                label: 'Number of Users',
                data: [userCount], // Số lượng người dùng từ model
                backgroundColor: colors,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>
<script>
    var teamCount = [[${teamCount}]];
    var colors = [];
    colors.push(getRandomColor());
    var teamCtx = document.getElementById('teamChart').getContext('2d');
    var teamChart = new Chart(teamCtx, {
        type: 'bar',
        data: {
            labels: ["Total Teams"],
            datasets: [{
                label: 'Number of Teams',
                data: [teamCount],
                backgroundColor: colors  ,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });
    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }
</script>

<script th:inline="javascript">
    // tac dung cua th:inline="javascript". Thymeleaf sẽ thay thế [[${teamsWithMemberCount}]] bằng giá trị của someValue từ controller

    var teamsWithMemberCount = [[${teamsWithMemberCount}]];
    var teamNames = [];
    var memberCounts = [];
    var colors = [];

    // Ánh xạ mỗi cột với một màu trong mảng colors
    teamsWithMemberCount.forEach(function(teamData, index) {
        teamNames.push(teamData[0]);
        memberCounts.push(teamData[1]);
        colors.push(getRandomColor()); // Tạo một màu ngẫu nhiên cho mỗi cột
    });

    // Tạo dữ liệu cho biểu đồ
    var chartData = {
        labels: teamNames,
        datasets: [{
            label: teamNames,
            data: memberCounts,
            backgroundColor: colors,
            borderWidth: 1
        }]
    };


    var ctx = document.getElementById('teamMemberChart').getContext('2d');
    var teamMemberChart = new Chart(ctx, {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    });

    function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

</script>
</body>
</html>
