    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/login.css">
  <title>Login</title>
</head>
<body>
<form id="loginForm" th:action="@{/doLogin}" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="username" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="password" required>
    <p th:if="${param.error}" class="error-message">Incorrect username or password</p>
  </div>
  <div>
    <input type="checkbox" id="rememberMe" name="rememberMe">
    <label for="rememberMe">remember Me</label>
  </div>
  <button type="submit" id="submitButton">Đăng nhập</button>
</form>

<script>
  const submitButton = document.getElementById("submitButton");

  submitButton.addEventListener("click", () => {
    submitButton.classList.add("ripple");
    setTimeout(() => {
      submitButton.classList.remove("ripple");
    }, 1000);
    // Tạo các bong bóng
    for (let i = 0; i < 10; i++) {
      const bubble = document.createElement("div");
      bubble.classList.add("bubble");
      bubble.style.left = `${Math.random() * 100}%`;
      bubble.style.top = `${Math.random() * 100}%`;
      bubble.style.animationDuration = `${Math.random() * 5 + 1}s`;

      const message = document.createElement("span");
      message.textContent = "welcome!";
      bubble.appendChild(message);

      document.body.appendChild(bubble);

      setTimeout(() => {
        bubble.remove();
      }, 2000);
    }
  });

</script>
</body>
</html>
