<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/login.css">
  <title>Login</title>
</head>
<body>
<form id="loginForm" th:action="@{/doLogin}" method="post">
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" name="username" placeholder="username" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="password" required>
  </div>
  <button type="submit">Login</button>
</form>
</body>
</html>
