<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/member-skills.css">
  <title>Member Skills</title>
</head>
<body>
<header>
  <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
  <nav>
    <ul>
      <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/teams">Quản lý Nhóm</a></li>
        <li><a href="/members">Quản lý người dùng</a></li>
        <li><a href="/teammembers">Quản lý thành viên nhóm</a></li>
        <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
        <li><a href="/skills">Quản lý Kỹ năng</a></li>
        <li><a href="/member-skills">Quản lý Kỹ năng nhân viên </a></li>
        <li><a href="/logout">Đăng xuất</a></li>
      </div>
    </ul>
  </nav>
</header>
<h2>Member Skills</h2>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>User</th>
    <th>Skill</th>
    <th>Proficiency Level</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="memberSkill : ${memberSkills}">
    <td th:text="${memberSkill.memberSkillId}"></td>
    <td th:text="${memberSkill.user.username}"></td>
    <td th:text="${memberSkill.skill.skillName}"></td>
    <td th:text="${memberSkill.proficiencyLevel}"></td>
    <td>
      <a th:href="@{/member-skills/update/{id}(id=${memberSkill.memberSkillId})}">Edit</a>
      <a th:href="@{/member-skills/delete/{id}(id=${memberSkill.memberSkillId})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/member-skills/create">Create New Member Skill</a>
</body>
</html>
