<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Thành viên</title>
    <link rel="stylesheet" type="text/css" href="/member.css">
</head>
<body>
<header>
    <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
    <nav>
        <ul>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/teams">Quản lý Nhóm</a></li>
                <li><a href="/members">Quản lý người dùng</a></li>
                <li><a href="/teammembers">Quản lý thành viên nhóm</a></li>
                <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
                <li><a href="/skills">Quản lý Kỹ năng</a></li>
                <li><a href="/member-skills">Quản lý Kỹ năng nhân viên </a></li>
                <li><a href="/logout">Đăng xuất</a></li>
            </div>
        </ul>
    </nav>
</header>
<div>

    <!-- Add a table to display users -->
    <table class="user">
        <thead>
        <tr>
            <th>Username</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of users -->
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <!-- Add action links for update and delete -->
            <td>
                <a th:href="@{/members/update-user/{username}(username=${user.username})}">Update</a>
                <a th:href="@{/members/delete-user/{username}(username=${user.username})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <button
            style="background-color: blue; color: white; padding: 10px 20px; border: none; border-radius: 5px;">
        <a href="/members/add-user" style="color: white; text-decoration: none;">Thêm Người dùng</a>
    </button>
</div>
</body>
</html>
