<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Skills</title>
  <link rel="stylesheet" type="text/css" href="/my-skill.css">
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<table>
  <thead>
  <tr>
    <th>Skill Name</th>
    <th>Skill Group Name</th>
    <th>Proficiency Level</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="skill : ${mySkills}">
    <td th:text="${skill[0]}"></td>
    <td th:text="${skill[1]}"></td>
    <td th:text="${skill[2]}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
