<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/skill.css">
  <title>Skills</title>
</head>
<body>
<div th:replace="fragments/header :: appHeader('teams')"></div>
<h2>Skills</h2>
<table>
  <thead>
  <tr>
    <th>skillId</th>
    <th>Name</th>
<!--    <th>skillGroupId</th>-->
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="skill : ${skills}">
    <td th:text="${skill.skillId}"></td>
    <td th:text="${skill.skillName}"></td>
<!--    <td th:text="${skill.skillGroup}"></td>-->
    <td>
      <a th:href="@{/skills/edit/{id}(id=${skill.skillId})}">Edit</a>
      <a th:href="@{/skills/delete/{id}(id=${skill.skillId})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<button class="create-skill-button" onclick="location.href='/skills/create'">create new skill</button>
</body>
</html>
