<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/skill-groups.css">
    <title>Skill Groups</title>
</head>
<header>
    <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
    <nav>
        <ul>
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                <li><a href="/">Dashboard</a></li>
                <li><a href="/teams">Quản lý Nhóm</a></li>
                <li><a href="/members">Quản lý người dùng</a></li>
                <li><a href="/teammembers">Quản lý thành viên nhóm</a></li>
                <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
                <li><a href="/skills">Quản lý Kỹ năng</a></li>
                <li><a href="/member-skills">Quản lý Kỹ năng nhân viên </a></li>
                <li><a href="/logout">Đăng xuất</a></li>
            </div>
        </ul>
    </nav>
</header>
<body>
<h2>Skill Groups</h2>
<table>
    <thead>
    <tr>
        <th>skillGroupId</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="skillGroup : ${skillGroups}">
        <td th:text="${skillGroup.skillGroupId}"></td>
        <td th:text="${skillGroup.skillGroupName}"></td>
        <td>
            <a th:href="@{/skill-groups/edit/{id}(id=${skillGroup.skillGroupId})}">Edit</a>
            <a th:href="@{/skill-groups/delete/{id}(id=${skillGroup.skillGroupId})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/skill-groups/create" class="create-button">Create New Skill Group</a>
</body>
</html>
