<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/view-teams.css">
  <title>View Teams</title>
</head>
<body>
<header>
  <h1>Quản lý Ma trận Kỹ năng Nhóm</h1>
  <nav>
    <ul>
      <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
        <li><a href="/">Dashboard</a></li>
        <li><a href="/teams">Quản lý Nhóm</a></li>
        <li><a href="/members">Quản lý người dùng</a></li>
        <li><a href="/teammembers">Quản lý thành viên nhóm</a></li>
        <li><a href="/skill-groups">Quản lý Nhóm Kỹ năng</a></li>
        <li><a href="/skills">Quản lý Kỹ năng</a></li>
        <li><a href="/member-skills">Quản lý Kỹ năng nhân viên </a></li>
        <li><a href="/logout">Đăng xuất</a></li>
      </div>
    </ul>
  </nav>
</header>
<h2>Teams</h2>
<table class="team-table">
  <tr>
    <th>Team Name</th>
    <th>Action</th>
  </tr>
  <!-- Duyệt qua danh sách team và hiển thị thông tin của mỗi team -->
  <tr th:each="team : ${teams}">
    <td th:text="${team.teamName}"></td>
    <td>
      <!-- Nút sửa -->
      <a th:href="@{'/teams/view/edit/' + ${team.teamId}}">Edit</a>
      <!-- Nút xóa -->
      <a th:href="@{'/teams/delete/' + ${team.teamId}}">Delete</a>
    </td>
  </tr>
</table>
<a href="/teams" >Back To Teams Management</a>
</body>
</html>
