<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Team Members</title>
    <link rel="stylesheet" type="text/css" href="/view-teammembers.css">
</head>
<body>
<h2>View Team Members</h2>
<table class="team-member-table">
    <tr>
        <th>Member ID</th>
        <th>Team ID</th>
        <th>Username</th>
        <th>Action</th>
    </tr>
    <!-- Loop through list of Teammembers -->
    <tr th:each="teammember : ${teammembers}">
        <td th:text="${teammember.memberId}"></td>
        <td th:text="${teammember.team.teamId}"></td>
        <td th:text="${teammember.user.username}"></td>
        <td>
            <a th:href="@{'/teammembers/view/edit/' + ${teammember.memberId}}">Update</a>
            <a th:href="@{'/teammembers/delete/' + ${teammember.memberId}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>
